NODE_ENV="development"
PORT="8000"
FRONTEND_URL="http://localhost:3000"
DATABASE_URL='postgresql://neondb_owner:npg_UdIqBRWCgt12@ep-bold-truth-aokhgkvk-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require'